<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mercer.mapper.AppInfoMapper">

    <resultMap id="base" type="com.mercer.pojo.AppInfo">
        <!--property：表示pojo类集合中的属性
        id标签这是设置主键使用的，使用此标签配置映射关系（可能不止一个）
        result标签这是一般属性用于配置映射关系使用的（一般不止一个）
        column：从resultMap中传过去用作查询的参数-->
        <id property="id" column="appInfoId"/>
        <result property="softwareName" column="softwareName"/>
        <result property="APKName" column="APKName"/>
        <result property="softwareSize" column="softwareSize"/>
        <!--<result property="flatformId" column="flatformId"/>-->
        <!--<result property="status" column="status"/>-->
        <result property="downloads" column="downloads"/>
    </resultMap>

    <!--封装单个app信息，用于修改 -->
    <resultMap id="appSingleInfo" type="com.mercer.pojo.AppInfo" extends="base">
        <result property="supportROM" column="supportROM"/>
        <result property="interfaceLanguage" column="interfaceLanguage"/>
        <result property="softwareSize" column="softwareSize"/>
        <result property="updateDate" column="updateDate"/>
        <result property="supportROM" column="supportROM"/>
        <result property="appInfo" column="appInfo"/>
        <result property="onSaleDate" column="onSaleDate"/>
        <result property="creationDate" column="creationDate"/>
        <result property="modifyDate" column="modifyDate"/>
        <result property="creationDate" column="creationDate"/>
        <result property="logoPicPath" column="logoPicPath"/>
        <result property="logoLocPath" column="logoLocPath"/>
        <!--开发者封装-->
        <association property="devUser" javaType="com.mercer.pojo.DevUser">
            <id property="id" column="devId"/>
        </association>
        <!--创建者封装-->
        <association property="createUser" javaType="com.mercer.pojo.DevUser">
            <id property="id" column="createdBy"/>
        </association>
        <!--修改者封装-->
        <association property="modifyUser" javaType="com.mercer.pojo.DevUser">
            <id property="id" column="modifyBy"/>
        </association>
        <!--最新版本信息封装-->
        <association property="newAppVersion" javaType="com.mercer.pojo.AppVersion">
            <id property="id" column="versionId"/>
            <result property="versionNo" column="versionNo"/>
        </association>
        <!--封装平台信息-->
        <association property="flatform" javaType="com.mercer.pojo.DataDictionary">
            <result property="valueId" column="flatformId"/>
            <result property="valueName" column="flatform_name"/>
        </association>
        <!--封装app状态信息-->
        <association property="appStatus" javaType="com.mercer.pojo.DataDictionary">
            <result property="valueId" column="status"/>
            <result property="valueName" column="app_status"/>
        </association>
        <!--封装一级分类-->
        <association property="categoryLevel1" javaType="com.mercer.pojo.AppCategory">
            <id property="id" column="categoryLevel1"/>
            <result property="categoryName" column="category_level_one_name"/>
        </association>
        <!--封装二级分类-->
        <association property="categoryLevel2" javaType="com.mercer.pojo.AppCategory">
            <id property="id" column="categoryLevel2"/>
            <result property="categoryName" column="category_level_two_name"/>
        </association>
        <!--封装三级分类-->
        <association property="categoryLevel3" javaType="com.mercer.pojo.AppCategory">
            <id property="id" column="categoryLevel3"/>
            <result property="categoryName" column="category_level_three_name"/>
        </association>
    </resultMap>
    <!--封装所有app信息，用于查询 -->
    <resultMap id="appInfoDetail" type="com.mercer.pojo.AppInfo" extends="base">
        <!--封装平台信息-->
        <association property="flatform" javaType="com.mercer.pojo.DataDictionary">
            <result property="valueName" column="flatform_name"/>
        </association>
        <!--封装app状态信息-->
        <association property="appStatus" javaType="com.mercer.pojo.DataDictionary">
            <result property="valueName" column="app_status"/>
        </association>
        <!--封装一级分类-->
        <association property="categoryLevel1" javaType="com.mercer.pojo.AppCategory">
            <result property="categoryName" column="category_level_one_name"/>
        </association>
        <!--封装二级分类-->
        <association property="categoryLevel2" javaType="com.mercer.pojo.AppCategory">
            <result property="categoryName" column="category_level_two_name"/>
        </association>
        <!--封装三级分类-->
        <association property="categoryLevel3" javaType="com.mercer.pojo.AppCategory">
            <result property="categoryName" column="category_level_three_name"/>
        </association>
        <!--封装最新的app版本对象-->
        <association property="newAppVersion" javaType="com.mercer.pojo.AppVersion">
        <id property="id" column="versionId"/>
        <result property="versionNo" column="versionNo"/>
        </association>
    </resultMap>
    <!--封装单个app信息，并包括历史版本信息 -->
    <resultMap id="appInfoDetailWithHistoryVersion" type="com.mercer.pojo.AppInfo" extends="appSingleInfo">
        <collection property="appVersions" ofType="com.mercer.pojo.AppVersion">
            <id property="id" column="historyVersionId"/>
            <result property="versionNo" column="historyVersionNo"/>
            <result property="downloadLink" column="historyDownloadLink"/>
            <result property="versionInfo" column="historyVersionInfo"/>
            <result property="apkFileName" column="historyApkFileName"/>
            <result property="apkLocPath" column="historyApkLocPath"/>
            <result property="versionSize" column="historyVersionSize"/>
        </collection>
        <!-- v2. AS ,
        v2. AS ,v2.id AS ,
        v2. AS ,v2. AS ,
        v2. AS ,v2. AS -->
    </resultMap>


    <!--
        <resultMap id="appInfoWithThreeCategoryAndVersion" type="com.mercer.pojo.AppInfo" extends="base">
            &lt;!&ndash;封装最新的app版本对象&ndash;&gt;
            <association property="newAppVersion" javaType="com.mercer.pojo.AppVersion">
                <id property="id" column="versionId"/>
                <result property="versionNo" column="versionNo"/>
            </association>
            &lt;!&ndash;封装分类&ndash;&gt;
            <association property="categoryLevel1" javaType="com.mercer.pojo.AppCategory">
                <result property="categoryName" column="categoryLevel1Name"/>
            </association>
            <association property="categoryLevel2" javaType="com.mercer.pojo.AppCategory">
                <result property="categoryName" column="categoryLevel2Name"/>
            </association>
            <association property="categoryLevel3" javaType="com.mercer.pojo.AppCategory">
                <result property="categoryName" column="categoryLevel3Name"/>
            </association>
        </resultMap>-->

<!--    &lt;!&ndash;根据开发者id，查询APP信息&ndash;&gt;
    <select id="queryByDevUserId" resultMap="appInfoWithThreeCategoryAndVersion">
        SELECT
          t1.id appId,
          t1.`softwareName`,
          t1.`APKName`,
          t1.`softwareSize`,
          t1.`flatformId`,
          t1.`status`,
          t1.`downloads`,
          t1.`versionId`,
          tc1.`categoryName` AS categoryLevel1Name,
          tc2.`categoryName` AS categoryLevel2Name,
          tc3.`categoryName` AS categoryLevel3Name,
          t3.`versionNo`
        FROM
          app_info t1
          LEFT JOIN app_category tc1
            ON t1.`categoryLevel1` = tc1.`id`
          LEFT JOIN app_category tc2
            ON t1.`categoryLevel2` = tc2.`id`
          LEFT JOIN app_category tc3
            ON t1.`categoryLevel3` = tc3.`id`
          LEFT JOIN app_version t3
            ON t1.`versionId` = t3.`id`,
          dev_user t4
        WHERE t1.`devId` = t4.`id`
          AND t4.`id` = #{devUserId}

    </select>-->
     <!--查询所有app信息 -->
    <select id="queryid" resultType="String">
        select  devName from dev_user where id = #{id}
    </select>
    <select id="query" resultMap="appInfoDetail">
        SELECT  t1.`id` AS appInfoId,t1.`softwareName`,t1.`APKName`,t1.`softwareSize`,t1.`downloads`,
        t2.`valueName` AS flatform_name,
        t6.`valueName` AS app_status,
        t3.`categoryName` AS category_level_one_name,
        t4.`categoryName` AS category_level_two_name,
        t5.`categoryName` AS category_level_three_name,
        t7.`versionNo`,
        t1.`versionId`
        FROM app_info t1 LEFT JOIN data_dictionary t2 ON t1.`flatformId`=t2.`valueId`
        LEFT JOIN app_category t3 ON t1.`categoryLevel1`=t3.`id`
        LEFT JOIN app_category t4 ON t1.`categoryLevel2`=t4.`id`
        LEFT JOIN app_category t5 ON t1.`categoryLevel3`=t5.`id`
        LEFT JOIN data_dictionary t6 ON t1.`status`=t6.`valueId`
        LEFT JOIN app_version t7 ON t1.`versionId`=t7.`id`
        LEFT JOIN dev_user t8 ON t1.`devId`=t8.`id`

        <where>
            AND t2.`typeCode`='APP_FLATFORM'
            AND t6.`typeCode`='APP_STATUS'
              <if test="devUserId!=null">
                  AND t1.`devId`=#{devUserId}
              </if>
              <if test="appFlatform!=null">
                  AND t1.`flatformId`=#{appFlatform}
              </if>
              <if test="appStatus!=null">
                  AND t1.`status`=#{appStatus}
              </if>
              <if test="levelOne!=null">
                  AND t1.`categoryLevel1`=#{levelOne}
              </if>
              <if test="levelTwo!=null">
                  AND t1.`categoryLevel2`=#{levelTwo}
              </if>
              <if test="levelThree!=null">
                  AND t1.`categoryLevel3`=#{levelThree}
              </if>
              <if test="softwareName!=null and softwareName!='' ">
                  AND t1.`softwareName` like concat('%',#{softwareName},'%')
              </if>
        </where>
    </select>

    <update id="updateById">
        update app_info
        <trim prefixOverrides="," prefix="set ">
            <if test="softwareName !=null and softwareName!=''">
                ,softwareName = #{softwareName}
            </if>
            <if test="supportROM !=null and supportROM!=''">
                ,supportROM = #{supportROM}
            </if>
            <if test="APKName !=null and APKName!=''">
                ,APKName = #{APKName}
            </if>
            <if test="interfaceLanguage !=null and interfaceLanguage!=''">
                ,interfaceLanguage = #{interfaceLanguage}
            </if>
            <if test="softwareSize !=null">
                ,softwareSize = #{softwareSize}
            </if>
            <if test="updateDate !=null ">
                ,updateDate = #{updateDate}
            </if>
            <if test="devUser !=null and devUser.id !=null">
                ,devId = #{devUser.id}
            </if>
            <if test="appInfo !=null and appInfo!=''">
                ,appInfo = #{appInfo}
            </if>
            <if test="appStatus !=null and appStatus.valueId!=null">
                ,status = #{appStatus.valueId}
            </if>
            <if test="onSaleDate !=null">
                ,onSaleDate = #{onSaleDate}
            </if>
            <if test="offSaleDate !=null">
                ,offSaleDate = #{offSaleDate}
            </if>
            <if test="flatform !=null and flatform.valueId!=null">
                ,flatformId = #{flatform.valueId}
            </if>
            <if test="categoryLevel1 !=null and categoryLevel1.id!=null">
                ,categoryLevel1 = #{categoryLevel1.id}
            </if>
            <if test="categoryLevel2 !=null and categoryLevel2.id!=null">
                ,categoryLevel2 = #{categoryLevel2.id}
            </if>
            <if test="categoryLevel3 !=null and categoryLevel3.id!=null">
                ,categoryLevel3 = #{categoryLevel3.id}
            </if>
            <if test="downloads !=null">
                ,downloads = #{downloads}
            </if>
            <if test="devUser !=null and devUser.id!=null">
                ,createdBy = #{createUser.id}
            </if>
            <if test="devUser !=null and devUser.id!=null">
                ,modifyBy = #{modifyUser.id}
            </if>
            <if test="modifyDate !=null ">
                ,modifyDate = #{modifyDate}
            </if>
            <if test="logoPicPath !=null and logoPicPath!=''">
                ,logoPicPath = #{logoPicPath}
            </if>
            <if test="logoLocPath !=null and logoLocPath!='' ">
                ,logoLocPath = #{logoLocPath}
            </if>
            <if test="newAppVersion !=null and newAppVersion.id!='' ">
                ,versionId = #{newAppVersion.id}
            </if>
            <if test="id !=null ">
                ,id = #{id}
            </if>
        </trim>
         where id = #{id}
    </update>

    <insert id="add">
          insert into app_info
          <trim prefix="(" suffix=")" prefixOverrides=",">
              <if test="softwareName !=null and softwareName!=''">
                  ,softwareName
              </if>
              <if test="supportROM !=null and supportROM!=''">
                  ,supportROM
              </if>
              <if test="APKName !=null and APKName!=''">
                  ,APKName
              </if>
              <if test="interfaceLanguage !=null and interfaceLanguage!=''">
                  ,interfaceLanguage
              </if>
              <if test="softwareSize !=null">
                  ,softwareSize
              </if>
              <if test="updateDate !=null ">
                  ,updateDate
              </if>
              <if test="devUser !=null and devUser.id !=null">
                  ,devId
              </if>
              <if test="appInfo !=null and appInfo!=''">
                  ,appInfo
              </if>
              <if test="appStatus !=null and appStatus.valueId!=null">
                  ,status
              </if>
              <if test="onSaleDate !=null">
                  ,onSaleDate
              </if>
              <if test="offSaleDate !=null">
                  ,offSaleDate
              </if>
              <if test="flatform !=null and flatform.valueId!=null">
                  ,flatformId
              </if>
              <if test="categoryLevel1 !=null and categoryLevel1.id!=null">
                  ,categoryLevel1
              </if>
              <if test="categoryLevel2 !=null and categoryLevel2.id!=null">
                  ,categoryLevel2
              </if>
              <if test="categoryLevel3 !=null and categoryLevel3.id!=null">
                  ,categoryLevel3
              </if>
              <if test="downloads !=null">
                  ,downloads
              </if>
              <if test="devUser !=null and devUser.id!=null">
                  ,createdBy
              </if>
              <if test="creationDate !=null ">
                  ,creationDate
              </if>
              <if test="devUser !=null and devUser.id!=null">
                  ,modifyBy
              </if>
              <if test="modifyDate !=null ">
                  ,modifyDate
              </if>
              <if test="logoPicPath !=null and logoPicPath!=''">
                  ,logoPicPath
              </if>
              <if test="logoLocPath !=null and logoLocPath!='' ">
                  ,logoLocPath
              </if>
              <if test="newAppVersion !=null and newAppVersion.id!='' ">
                  ,versionId
              </if>
          </trim>
          <trim prefix="VALUES(" suffix=")" prefixOverrides=",">
            <if test="softwareName !=null and softwareName!=''">
                ,#{softwareName}
            </if>
            <if test="supportROM !=null and supportROM!=''">
                ,#{supportROM}
            </if>
            <if test="APKName !=null and APKName!=''">
                  ,#{APKName}
            </if>
            <if test="interfaceLanguage !=null and interfaceLanguage!=''">
                ,#{interfaceLanguage}
            </if>
            <if test="softwareSize !=null">
                ,#{softwareSize}
            </if>
            <if test="updateDate !=null ">
                ,#{updateDate}
            </if>
            <if test="devUser !=null and devUser.id !=null">
                ,#{devUser.id}
            </if>
            <if test="appInfo !=null and appInfo!=''">
                ,#{appInfo}
            </if>
            <if test="appStatus !=null and appStatus.valueId!=null">
                ,#{appStatus.valueId}
            </if>
            <if test="onSaleDate !=null">
                ,#{onSaleDate}
            </if>
            <if test="offSaleDate !=null">
                ,#{offSaleDate}
            </if>
            <if test="flatform !=null and flatform.valueId!=null">
                ,#{flatform.valueId}
            </if>
            <if test="categoryLevel1 !=null and categoryLevel1.id!=null">
                ,#{categoryLevel1.id}
            </if>
            <if test="categoryLevel2 !=null and categoryLevel2.id!=null">
                ,#{categoryLevel2.id}
            </if>
            <if test="categoryLevel3 !=null and categoryLevel3.id!=null">
                ,#{categoryLevel3.id}
            </if>
            <if test="downloads !=null">
                ,#{downloads}
            </if>
            <if test="devUser !=null and devUser.id!=null">
                ,#{devUser.id}
            </if>
            <if test="creationDate !=null ">
                ,#{creationDate}
            </if>
            <if test="devUser !=null and devUser.id!=null">
                ,#{devUser.id}
            </if>
            <if test="modifyDate !=null ">
                ,#{modifyDate}
            </if>
            <if test="logoPicPath !=null and logoPicPath!=''">
                ,#{logoPicPath}
            </if>
            <if test="logoLocPath !=null and logoLocPath!='' ">
                ,#{logoLocPath}
            </if>
            <if test="newAppVersion !=null and newAppVersion.id!='' ">
                ,#{newAppVersion.id}
            </if>
        </trim>
    </insert>

    <delete id="deleteById">
        delete from app_info where id = #{appId}
    </delete>

    <!--查询单个app详细信息包括历史版本号-->
    <select id="queryDetailByAppId" resultMap="appInfoDetailWithHistoryVersion">
        SELECT
        t1.`id` AS appInfoId,t1.`softwareName`,t1.`APKName`,t1.`softwareSize`,t1.`downloads`,
        t1.supportROM,t1.interfaceLanguage,t1.softwareSize,t1.updateDate,t1.devId,t1.appInfo,
        t1.status,t1.onSaleDate,t1.offSaleDate,t1.flatformId,t1.categoryLevel3,t1.categoryLevel2,t1.categoryLevel1,
        t1.createdBy,t1.creationDate,t1.modifyBy,t1.modifyDate,t1.logoPicPath,t1.logoLocPath,t1.`versionId`,
        t2.`valueName` AS flatform_name,
        t6.`valueName` AS app_status,
        t3.`categoryName` AS category_level_one_name,
        t4.`categoryName` AS category_level_two_name,
        t5.`categoryName` AS category_level_three_name,
        t7.`versionNo`,
        v2.versionNo AS historyVersionNo, v2.versionInfo AS historyVersionInfo,
        v2.downloadLink AS historyDownloadLink,v2.id AS historyVersionId,
        v2.apkFileName AS historyApkFileName,v2.apkLocPath AS historyApkLocPath,
        v2.versionInfo AS historyVersionInfo,v2.versionSize AS historyVersionSize
        FROM app_info t1
        LEFT JOIN data_dictionary t2 ON t1.`flatformId`=t2.`valueId`
        LEFT JOIN app_category t3 ON t1.`categoryLevel1`=t3.`id`
        LEFT JOIN app_category t4 ON t1.`categoryLevel2`=t4.`id`
        LEFT JOIN app_category t5 ON t1.`categoryLevel3`=t5.`id`
        LEFT JOIN data_dictionary t6 ON t1.`status`=t6.`valueId`
        LEFT JOIN app_version t7 ON t1.`versionId`=t7.`id`
        LEFT JOIN dev_user t8 ON t1.`devId`=t8.`id`
        LEFT JOIN dev_user t9 ON t1.createdBy=t9.id
        LEFT JOIN dev_user t10 ON t1.modifyBy=t10.id
        LEFT JOIN app_version v2 ON v2.appId=t1.id
        where t1.id = #{appId}
        AND t2.typeCode = 'APP_FLATFORM'
        AND t6.typeCode = 'APP_STATUS'
    </select>
    <!--查询单个app信息 -->
    <select id="queryByAppId" resultMap="appSingleInfo">
        SELECT
        t1.`id` AS appInfoId,t1.`softwareName`,t1.`APKName`,t1.`softwareSize`,t1.`downloads`,
        t1.supportROM,t1.interfaceLanguage,t1.softwareSize,t1.updateDate,t1.devId,t1.appInfo,
        t1.status,t1.onSaleDate,t1.offSaleDate,t1.flatformId,t1.categoryLevel3,t1.categoryLevel2,t1.categoryLevel1,
        t1.createdBy,t1.creationDate,t1.modifyBy,t1.modifyDate,t1.logoPicPath,t1.logoLocPath,t1.`versionId`,
        t2.`valueName` AS flatform_name,
        t6.`valueName` AS app_status,
        t3.`categoryName` AS category_level_one_name,
        t4.`categoryName` AS category_level_two_name,
        t5.`categoryName` AS category_level_three_name,
        t7.`versionNo`
        FROM app_info t1
        LEFT JOIN data_dictionary t2 ON t1.`flatformId`=t2.`valueId`
        LEFT JOIN app_category t3 ON t1.`categoryLevel1`=t3.`id`
        LEFT JOIN app_category t4 ON t1.`categoryLevel2`=t4.`id`
        LEFT JOIN app_category t5 ON t1.`categoryLevel3`=t5.`id`
        LEFT JOIN data_dictionary t6 ON t1.`status`=t6.`valueId`
        LEFT JOIN app_version t7 ON t1.`versionId`=t7.`id`
        LEFT JOIN dev_user t8 ON t1.`devId`=t8.`id`
        LEFT JOIN dev_user t9 ON t1.createdBy=t9.id
        LEFT JOIN dev_user t10 ON t1.modifyBy=t10.id
        where t1.id = #{appId}
        AND t2.typeCode = 'APP_FLATFORM'
        AND t6.typeCode = 'APP_STATUS'
    </select>
</mapper>
